header {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

p {
	background-color: DarkSeaGreen;
}

aside section h4 {
	text-align: center;
}

header h1 {
	font-size:35px;
}

body {
	background-color:SlateGray;
}

header, aside, article {
	background-color:White;
}

aside section {
	background-color:LightBlue;
}

section header article {
	background-color:LightBlue;
}